body {
    font-family: 'Eczar', serif;
}

:root {
    --bs-dark-rgb: 88, 115, 144;
}

.btn-primary {
    background-color: #587390;
    border-color: #000;
}

.btn-primary:hover {
    background-color: #587390bb;
    border-color: #fff;
}

.whatsapp-bubble {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}